*
/


@font-face {
	font-family: "Entypo";
	src: url("Entypo/entypo.eot");
	src: url("Entypo/entypo.eot?#iefix") format('embedded-opentype'),
		url("Entypo/entypo.svg#EntypoRegular") format('svg'),
		url("Entypo/entypo.ttf") format('truetype'), url("Entypo/entypo.woff")
		format('woff');
	font-weight: normal;
	font-style: normal;
}

root {
	display: block;
}

body {
	font-family: arial;
	font-size: medium;
	margin: 0;
	padding: 0;
}

#general {
	width: 60em;
	border: 1px solid #666;
	margin: 0 auto;
}

header {
	background-color: #19436e;
	background-image:
		url(/web/bundles/CDG69DU/images/cdg69-logo-CartoucheBlanc.png);
	background-repeat: no-repeat;
	height: 6em;
}

header h1 {
	text-align: right;
	margin: 0px;
	margin-right: 0.3em;
	color: #FFF;
}

#identity {
	font-size: small;
	background-color: #19436e;
	text-align: right;
	color: #FFF;
}

#identity a:link,#identity a:visited {
	color: #D94D15;
	font-weight: bold;
	text-decoration: none;
}

.icone {
	font-family: "Entypo";
	line-height: 0;
	font-size: large;
}

.petit {
	
}

footer {
	height: 5em;
	color: #FFF;
	background-color: #6b6b6b;
	clear: both;
}

.code {
	font-size: x-small;
	clear: both;
}

.
h2 .icone {
	margin-right: 0.2em;
	font-size: 1.6em;
	color: red;
}

.action h2 {
	margin: 0px;
	font-size: 1.45em;
	font-weight: normal;
	height: 80px;
}

.action {
	border: 1px solid #6b6b6b;
	width: 13.5em;
	margin-left: 1em;
	float: left;
	cursor: pointer;
}

.action dd {
	padding: 0;
	margin: 0px;
}

.cible {
	clear: both;
	border: 1px solid #6b6b6b;
	margin-bottom: 2em;
}

.cible .menu {
	float: left;
	width: 10em;
	color: #FFF;
	background-color: #6b6b6b;
	height: 40em;
}

.cible .execution {
	float: right;
	width: 49.5em;
}

.execution h1 {
	margin: 0px;
}

.clear {
	clear: both;
}

.grand {
	font-size: 5em;
}

.menu a:link,.menu a:visited {
	text-decoration: none;
	color: #FFF;
	display: inline-block;
}

.menu ul,.menu ol {
	margin-top: 5em;
	/*  list-style-type:decimal;*/
	margin-left: 0;
	padding-left: 0;
}

.menu li {
	margin: 0px;
	padding: 0px;
}

.menu li a {
	padding: 1em;
	margin-bottom: 1em;
	margin-right: 0;
}

.last_rapport {
	font-size: small;
	text-align: center;
}

.date {
	color: red;
}

.onglet dd {
	margin-left: 0px;
	padding: 0.3em;
	border: 1px solid #6b6b6b;
	font-size: medium;
	margin-bottom: 0.3em;
	margin-right: 0.3em;
}

.onglet dd:hover {
	color: #08C;
}

.onglet .detail_action {
	float: right;
	min-width: 6em;
	text-align: right;
	font-weight: bold;
}

.detail_action:link,.detail_action:visited {
	font-size: small;
	text-decoration: none;
}

.detail_action:hover {
	color: red;
}

.onglet label {
	display: inline-block;
	width: 6em;
	font-size: medium;
}

.hidden {
	display: none;
}

.encours {
	border-left: 3px solid red;
}

#toClick {
	cursor: default;
}

.wait {
	background-image: url(../images/wait.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.activite h4 {
	margin: 0px;
}

#l_unites dd {
	border-color: #CCC;
}

.required label {
	color: #D94D15;
}

div .form_rest {
	display: none;
}

.navigation a {
	text-decoration: none;
}

#footer {
	margin-left: 160px;
	margin-right: 160px;
	color: #D94D15;
}

#footer a {
	margin-right: 20px;
	text-decoration: none;
	color: #D94D15;
}

#test {
	color: #D94D15;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

#find {
	margin-top: 30px;
}

#aligner{
	margin: 0 auto;
	padding: 0;
	font-size:1.1em;
	font-family:"Lucida Sans", "Comic Sans MS", Verdana;
	background-color: #300b02;
	height:25px;
	line-height:25px;
}

#aligner li{
	float: left;
	line-height:25px;
	padding:0 10px;
	border-right: 1px solid white;
}







